<div class="footer">
    <div class="footer-section">
          <p>24500 S Dallas Pkwy,Ste 2399,Plano TX-75390</p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div class="footer-section">
      <h3>Services</h3>
      <ul>
        <li><a href="#">Web Application</a></li>
        <li><a href="#">Mobile Applications</a></li>
        <li><a href="#">Business Applications</a></li>
        <li><a href="#">UI and UX</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Contact</h3>
      <p>Email: <a href="mailto:contact@globaltieup.com">{{email}}</a></p>
      <p>Contact:{{phone}}</p>
    </div>
    <div class="footer-section">
      <h3>Legal</h3>
      <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Job Opportunities</a></li>
      </ul>
    </div>
    <div class="footer-section copyright">
      <p>&copy; 2024 www.globaltieup.com</p>
    </div>
  </div>
  