<div class="contact-form-wrapper">
<div class="contact-form-container">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" required />
        <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
          <small *ngIf="contactForm.get('name')?.errors?.['required']">Name is required</small>
        </div>
      </div>
  
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" required />
        <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
          <small *ngIf="contactForm.get('email')?.errors?.['required']">Email is required</small>
          <small *ngIf="contactForm.get('email')?.errors?.['email']">Email must be a valid email address</small>
        </div>
      </div>

      <div>
        <label for="pwd">Password:</label>
        <input type="password" id="pwd" formControlName="pwd" required />
        <div *ngIf="contactForm.get('pwd')?.invalid && contactForm.get('pwd')?.touched">
          <small *ngIf="contactForm.get('pwd')?.errors?.['required']">Password is required</small>
          <small *ngIf="contactForm.get('pwd')?.errors?.['minLength']">Password must be a 10 characters email address</small>
        </div>
      </div>
  
  
      <div>
        <label for="message">Message:</label>
        <textarea id="message" formControlName="message" required></textarea>
        <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">
          <small *ngIf="contactForm.get('message')?.errors?.['required']">Message is required</small>
        </div>
      </div>
  
      <button type="submit" [disabled]="contactForm.invalid">Submit</button>
    </form>
  </div>
  </div>