<div class="top-bar">
    <a href="mailto:contact@globaltieup.com">contact.com</a> |
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
      </svg>
      <i class="bi bi-telephone-fill"> <a href="tel:+919393898933">(817)982-9029</a>
      </i>
  </div>
  
  <div class="nav-bar">
    <img src="/logo.png" alt="Global Tie-Up Logo" class="logo">
    <ul class="text">
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="solutions">Business Solutions</a></li>
      <li><a routerLink="services">Services</a></li>
      <li><a routerLink="industries">Industries</a></li>
      <li><a routerLink="Technologies">TECHNOLOGIES</a></li>
      <li><a routerLink="portfolio">PORTFOLIO</a></li>
    </ul>
    <a routerLink="contactform" class="contact-button">CONTACT</a>
  </div>
  