.portfolio-container {
    display: flex;
  }
  
  .sidebar {
    width: 20%;
    background-color: white;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .filter-option {
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    color: blue;
    text-decoration: none;
  }
  
  .filter-option:hover {
    background-color: #f0f0f0;
  }
  
  .content {
    padding: 20px;
    width: 80%;
  }
  
  .content h3 {
    margin-top: 0;
  }
  
  .class-img{
    width: 600px;
    height: 300px;
    align-items: center;
  }