
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="banner" [src]="url" alt="First slide">
    </div>

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="banner" [src]="url2" alt="second slide">
        </div>
       </div>
</div>
  <div *ngFor="let home of homepage">
    <h3 class="header">{{home.title}}</h3>
    <p class="desc-container" >{{ home.description }}</p>
  </div>
  
  

